<%= form_for(movie) do |f| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

<div  class="field">
        <%#= f.label :tag_name %><br>  
        <%#= f.select :tags_ids, Tag.all.map {|t| [t.name,  t.id] }, {include_blank: true, promt: "selecciona"}, {class: "form-control", multiple: true} %>  
        <div  class="field">
        <%= f.label :tags_ids,  "Tags"  %><br>  
        <%= collection_check_boxes(:movie,  :tags_ids,  
        Tag.all,  :id,  :name)  %>  
        </div>

      
</div>

  <div class="actions btn btn-default">
    <%= f.submit %>
  </div>
<% end %>
